@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --head-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    /* ======== box-shadow ======== */
    --shadow-1: 2px 1px 2px;
}

.sidebar {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --shadow-1: none;
    --head-color: #ffffff;
}


@media print {
    .btnPrint {
        display: none;
    }

    table {
        width: 90%;
        border-collapse: collapse;
    }

    tbody>tr>  td {
        border: 1px solid #000;
        /* padding: 2px; */
        text-align: left;
        font-size: small;
        font-weight: bold;
    }

    /* th {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
        font-size: xx-small;
    } */

    thead>tr>th {
        border: 1px solid #000;
        /* padding: 2px; */
        text-align: left;
        font-size: small;
    }

    html,
    body {
        height: 100vh;
        /* Use 100% here to support printing more than a single page*/
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    @page {
        size: landscape;
        scale: 70%;
    }

    .printLayout {
        padding: 2rem;
        /* border: red solid 2px; */
        width: 100vw;
        /* margin: 5px; */
        align-items: center;
        text-align: center;
        overflow-x: hidden;
        height: 100vh;
        /* width: 90%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}