.header{
    width: 100%;
    border: 1px black solid;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4rem;
    height: 12rem;
}

.imgContainer{
    width: 10rem;
}


.imgContainer > img{
    width: 100%;
    height: 100%;
}

.image{
    width: 8rem;
    border: 2px solid black;
    height: 10rem;
}

.image > img{
    width: 100%;
    height: 100%;
}