.Nav{
    margin: 0.4rem;
    display: flex;
}

.Nav > select {
    margin-left: 0.4rem;
}

.YearPicker{
    margin: auto 0.4rem;
}

.MonthYearPicker{
    margin: auto 0.2rem;

}

.NavContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    align-items: center;
}
.btnSubmit{
    background: rgb(100, 236, 100);
}

.btn{
    background: var(--primary-color);
    /* color: var(--head-text); */
    font-weight: bold;
    padding: 0.4rem 0.8rem;
}