

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .btnPrint{
    margin: 20px auto;
    padding: 0.5rem 1rem;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header .btnPrint:hover{
    background-color: #005ea2;

}

button:hover{
    opacity: 0.7;
}

@media print {
    .btnPrint {
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }
}
