.container .navbar {
    padding-left: 0.5rem;
    background: var(--sidebar-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.container .navbar ul {
    display: flex;
}

.container .navbar ul li {
    margin-right: 0.5rem;
}

.container .navbar select {
    width: 5rem;
    list-style: none;
    outline: none;
    border: none;
}


.container .mainContainer {
    /* border: red solid 2px; */
    margin-top: 0.4rem;

}

.search_container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    height: 2rem;
}

.search_input {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 200px;
}

.navbar nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 98%;
}

.mainContainer {
    height: 31rem;
    padding: 0.5rem;
    overflow-y: auto;
    background: var(--sidebar-color);
    border-radius: 10px;

}

.btnEdit {
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* height: 60rem; */
}

.modalContainer {
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 25rem;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* max-height: 50rem; */
    height: 40rem;
    overflow-y: scroll;
    
}

.modalContainer .inpContainer {
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    width: 100%;
}

.modalContainer .inpContainer .inpBox {
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.modalContainer .inpContainer .inpBox>input {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px gray solid;
    padding: 0.4rem;
    outline: none;
}

.modalContainer .inpContainer .inpBox>select {
    width: 100%;
}



button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.updateBtn {
    background: #4caf50;
    color: #fff;
}

.deleteBtn {
    background: #f44336;
    color: #fff;
}

.cancelBtn {
    background: #9e9e9e;
    color: #fff;
}

.btnContainer {
    display: flex;
    align-items: center;
    margin: 0.4rem;
}

.flexBox {
    display: flex;
    justify-content: center;
    width: 100%;
}